<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amarc</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="scss/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header></header>
    <div v-cloak id="howTo" class="howTo">
      <div class="sectionTitle">HOW TO</div>
      <div class="howToSlider">
        <div class="slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide1">
              <div class="slide1Wrap slideWrap">
                <div class="tabletWrap">
                  <img class="tablet" src="image/img1.png" alt="" />
                  <img class="bubble1 bubble" src="image/img1.1.png" alt="" />
                  <img class="bubble2 bubble" src="image/img1.2.png" alt="" />
                  <img class="bubble3 bubble" src="image/img1.3.png" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide slide2">
              <div class="slide2Wrap slideWrap">
                <div class="paperWrap">
                  <img class="paper" src="image/img2.png" alt="" />
                  <div class="inputFormWrap">
                    <img class="inputForm" src="image/img2.1.png" alt="" />
                  </div>
                  <img class="pen" src="image/img2.3.png" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide slide3">
              <div class="slide3Wrap slideWrap">
                <div class="boxWrap">
                  <img class="box" src="image/img3.1.png" alt="" />
                  <img class="box2" src="image/img3.png" alt="" />
                  <img class="stampRight" src="image/stamp right.png" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide slide4">
              <div class="slide4Wrap slideWrap">
                <div class="bagWrap">
                  <img class="bag" src="image/img4.png" alt="" />
                  <div class="letterWrap">
                    <span class="letter1 letter active">Y</span>
                    <span class="letter2 letter active">o</span>
                    <span class="letter3 letter active">u</span>
                    <span class="letter4 letter active">r</span>
                    <br />
                    <span class="letter5 letter active">B</span>
                    <span class="letter6 letter active">r</span>
                    <span class="letter7 letter active">a</span>
                    <span class="letter8 letter active">n</span>
                    <span class="letter9 letter active">d</span>
                  </div>

                  <img class="rubber" src="image/img4.1.png" alt="" />
                  <img class="useMe" src="image/img4.2.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide slide5">
              <div class="slide5Wrap slideWrap">
                <div class="labWrap">
                  <img class="lab" src="image/img5.png" alt="" />
                  <img class="particle1" src="image/img5.1.png" alt="" />
                  <img class="particle2" src="image/img5.2.png" alt="" />
                  <div class="liquidWrap1">
                    <div class="mainLiquid liquidOne liquid"></div>
                    <div class="subLiquid1">
                      <div class="liquidOne liquid"></div>
                    </div>
                    <div class="subLiquid2">
                      <div class="liquidOne liquid"></div>
                    </div>
                  </div>

                  <div class="liquidWrap3">
                    <div class="liquidThree liquid"></div>
                  </div>
                  <div class="liquidTwo liquid"></div>
                  <div class="liquidWrap4">
                    <div class="mainLiquid liquidFour liquid"></div>
                    <div class="subLiquid1">
                      <div class="liquidFour liquid"></div>
                    </div>
                    <div class="subLiquid2">
                      <div class="liquidFour liquid"></div>
                    </div>
                  </div>
                  <div class="liquidCover1"></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide6">
              <div class="slide6Wrap slideWrap">
                <div class="msgWrap">
                  <img class="msg" src="image/img6.png" alt="" />
                  <div class="fontWrap1 fontWrap">
                    <span>Lorem ipsum dolor sit amet consectetur </span>
                    <div class="cover1"></div>
                  </div>
                  <div class="fontWrap2 fontWrap">
                    <span>doloremque nulla est reiciendis quia! </span>
                    <div class="cover2"></div>
                  </div>
                  <div class="fontWrap3 fontWrap">
                    <span> Praesentium voluptate suscipit, enim </span>
                    <div class="cover3"></div>
                  </div>
                  <div class="fontWrap4 fontWrap">
                    <span> Voluptate suscipit, enim eminemhs </span>
                    <div class="cover4"></div>
                  </div>
                  <img class="rubber2" src="image/img4.1.png" alt="" />
                </div>
              </div>
            </div>
            <div class="swiper-slide slide7">
              <div class="slide7Wrap slideWrap">
                <div class="certificateWrap">
                  <img class="certificate" src="image/img7.png" alt="" />
                  <img class="stamp" src="image/img7.1.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
        <div class="content">
          <div class="pageNum">0{{ activeSlide }} <span class="dash"></span> {{ totalSlide }}</div>
          <div class="titleWrap">
            <div v-html="activeTitle" class="title"></div>
          </div>
          <div v-html="activeDescription" class="description"></div>
          <div @click="goToNextSlide" v-if="lastSlide" class="lastButton"><img class="replayButton" src="image/replay.png" alt="" /> Replay</div>
          <div @click="goToNextSlide" v-else="lastSlide" class="buttonNext">Next step</div>
        </div>
        <div class="mobilePagination">
          <div @click="goToSlide($event)" v-for="(number, index) in menu" class="bullet" :data-bullet-index="`${index+1}`" :class="{'active' : index === 0}"></div>
        </div>
      </div>
    </div>
    <div class="test"></div>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.12/vue.global.prod.min.js"
      integrity="sha512-tk9eITbdhiiOuxe3Q3Qiy70ern7eyMEKzJdHiw9bdrVUPySg9YrLVRcx6USiaxiANKbGnI15HTnIJYLhvvSMjQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="library/Gsap/gsap.min.js"></script>
    <script src="library/Gsap/ScrollTrigger.min.js"></script>
    <script src="library/Gsap/Draggable.min.js"></script>

    <script>
      gsap.registerPlugin(Draggable);

      const app = Vue.createApp({
        data() {
          return {
            menu: ["Consult", "Fill in Request Form", "The sample", "Remove brand", "Test", "Report", "Qualified"],
            title: ["Consult", "Fill in <br> Request Form", "The sample", "Remove brand <br> and label", "Test", "Report", "Qualified"],
            description: [
              "to ensure there is no bias <br> throughout the process1",
              "to ensure there is no bias <br> throughout the process1",
              "to ensure there is no bias <br> throughout the process1",
              "to ensure there is no bias <br> throughout the process1",
              "to ensure there is no bias <br> throughout the process1",
              "to ensure there is no bias <br> throughout the process1",
              "to ensure there is no bias <br> throughout the process1",
            ],

            /* set below value to the first slide */
            activeSlide: 1,
            activeSlideName: "Consult",
            activeTitle: "Consult",
            activeDescription: "to ensure there is no bias <br> throughout the process1",
            /*set above value to the first slide*/
          };
        },
        computed: {
          lastSlide() {
            if (this.menu.length == this.activeSlide) {
              return true;
            } else return false;
          },
          totalSlide() {
            return ("0" + this.menu.length).slice(-2);
          },
        },
        methods: {
          goToSlide(e) {
            target = e.currentTarget.dataset.bulletIndex;
            swiper.slideTo(target);
          },
          goToNextSlide() {
            swiper.slideNext();
          },
          setActiveBullet(num) {
            let bullet = document.querySelectorAll(".bullet");
            bullet.forEach((element) => {
              element.classList.remove("active");
            });

            let targetBullet = document.querySelector(`[data-bullet-index = "${num + 1}"]`);
            targetBullet.classList.add("active");
          },
        },
      });

      const vm = app.mount("#howTo");

      const swiper = new Swiper(".slider", {
        // Optional parameters
        direction: "horizontal",
        loop: true,
        init: false,
        /*
            autoplay: {
                    delay: 5000,
                    disableOnInteraction:false,
        
          },
            */
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="pagiBullet ' + className + '">' + vm.menu[index] + "</span>";
          },
        },
      });

      swiper.init();
      swiper.on("afterInit", () => {
        vm.activeSlide = swiper.realIndex + 1;
      });

      var tl1 = gsap.timeline({ repeat: -1, paused: true });

      tl1.from(".bubble", {
        delay: 0.5,
        scale: 0,
        duration: 1,
        stagger: 0.2,
        ease: "elastic.out(1, 0.4)",
      });
      tl1.to(".bubble1", {
        scale: 1.2,
        yoyo: true,
        yoyoEase: true,
        duration: 0.2,
        repeat: 3,
      });
      tl1.to(".bubble2", {
        scale: 1.1,
        yoyo: true,
        yoyoEase: true,
        repeat: 5,
        duration: 0.15,
      });
      tl1.to(".bubble3", {
        scale: 1.1,
        yoyo: true,
        yoyoEase: true,
        repeat: 3,
        duration: 0.2,
      });

      tl1.to(".bubble", {
        scale: 0,
        stagger: 0.2,
      });

      tl1.play();

      var tl2 = gsap.timeline({ paused: true, repeat: -1 });
      tl2.from(".paperWrap", {
        y: "-100vh",
        duration: 1,
      });
      tl2.from(".pen", {
        x: "50vw",
        y: "-30vh",
        autoAlpha: 0,
        duration: 1,
      });
      tl2.to(".pen", {
        right: "-19%",
        duration: 0.5,
        ease: "power2",
      });
      tl2.to(".pen", {
        top: "-20%",
        right: "45%",
        duration: 0.5,
        ease: "power2",
      });
      tl2.to(".pen", {
        top: "-20%",
        right: "-24%",
        duration: 0.5,
        ease: "power2",
      });
      tl2.to(".pen", {
        top: "-13%",
        right: "-8%",
        duration: 0.2,
        ease: "power2",
      });
      tl2.to(".pen", {
        delay: 0.2,
        top: "3%",
        right: "39%",
        duration: 0.2,
        ease: "power2",
      });
      tl2.to(".pen", {
        delay: 0.2,
        top: "16%",
        right: "-18%",
        duration: 0.2,
        ease: "power2",
      });
      tl2.to(".pen", {
        delay: 0.2,
        top: "15%",
        right: "-19%",
        duration: 0.1,
        repeat: 5,
        yoyo: true,
        ease: "power2",
      });
      tl2.to(".pen", {
        delay: 0.4,
        top: "",
        autoAlpha: 0,
        right: "-100vw",
        rotation: 200,
        ease: "power2",
        duration: 1,
      });
      /*
        tl2.to(['.paper','.inputFormWrap'], {
            y: "85%",
            x: "-35vw",
            rotation:-45,
            autoAlpha:0,
            duration:1
        },'<+0.2')
        */
      tl2.to(
        [".paper", ".inputFormWrap"],
        {
          y: "-90%",
          x: "-35vw",
          rotation: -45,
          autoAlpha: 0,
          duration: 1,
        },
        "<+0.2"
      );

      var tl3 = gsap.timeline({ paused: true, repeat: -1 });
      tl3.from(".box", {
        x: "300%",
        y: "-89%",
        duration: 2,
        ease: "elastic.out(1, 0.6)",
      });
      tl3.from(".stampRight", {
        y: "40%",
        x: "40%",
        autoAlpha: 0,
        duration: 0.2,
        ease: "power2",
      });
      function tl3subTimeline() {
        var tl3sub = gsap.timeline();
        tl3sub.to(".stampRight", {
          rotate: 4,
          duration: 0.2,
        });
        tl3sub.to(".stampRight", {
          rotate: -4,
          duration: 0.2,
        });
        tl3sub.to(".stampRight", {
          rotate: 0,
          duration: 0.2,
        });

        return tl3sub;
      }
      tl3.add(tl3subTimeline());

      tl3.to(".box2", {
        autoAlpha: 1,
      });
      tl3.to(".box", {
        autoAlpha: 0,
      });
      tl3.to(".stampRight", {
        y: "40%",
        x: "40%",
      });
      tl3.to(".stampRight", {
        delay: 0.5,
        y: "0%",
        x: "0%",
        duration: 0.2,
      });
      tl3.to([".stampRight", ".box2"], {
        y: "-50%",
        x: "-50%",
        duration: 0.3,
      });
      tl3.to(".stampRight", {
        x: "-20%",
        y: "-20%",
      });
      tl3.to([".stampRight"], {
        y: "-50%",
        x: "-50%",
        duration: 0.2,
        ease: "power2",
      });
      tl3.to([".stampRight", ".box2"], {
        y: "-150%",
        x: "-150%",
        duration: 0.2,
      });
      function wiggle() {
        var wiggle = gsap
          .timeline({ repeat: 2, ease: "power0" })
          .to(".rubber2", {
            x: "-5%",
          })
          .to(".rubber2", {
            x: "5%",
          });

        return wiggle;
      }

      function tl6Start() {
        var tl6Start = gsap
          .timeline({ repeat: -1 })
          .from([".msg", ".fontWrap1", ".fontWrap2", ".fontWrap3", ".fontWrap4"], {
            y: "-30vh",
            x: "100vw",
            rotate: 260,
          })
          .to(".cover1", {
            x: "100%",
            delay: 2,
            duration: 3,
          })
          .to(".cover2", {
            x: "100%",
            duration: 3,
          })
          .to(".cover3", {
            x: "60%",
            duration: 3,
          })
          .from(".rubber2", {
            top: "-50vw",
            right: "-50vh",
            duration: 1,
            rotate: 320,
          })

          .add(wiggle())

          .to(
            ".cover3",
            {
              x: "50%",
            },
            "<+2"
          )

          .to(".rubber2", {
            right: "34%",
            duration: 0.2,
          })
          .add(wiggle())
          .to(".cover3", {
            x: "35%",
          })
          .to(".rubber2", {
            right: "40%",
            duration: 0.1,
            ease: "power0",
          })
          .add(wiggle())
          .to(".cover3", {
            x: "24%",
          })
          .to(".rubber2", {
            top: "-50vw",
            right: "-50vh",
            duration: 1,
            rotate: 320,
            ease: "power0",
          })
          .to(
            ".cover3",
            {
              x: "100%",
              duration: 2,
            },
            "<"
          )
          .to(".cover4", {
            x: "100%",
            duration: 2,
          })
          .to([".msg", ".fontWrap1", ".fontWrap2", ".fontWrap3", ".fontWrap4"], {
            y: "-100vh",
            rotate: 250,
            duration: 1,
          });

        return tl6Start;
      }

      var tl6 = gsap.timeline();
      tl6.add(tl6Start());

      function tl7Start() {
        var tl7Start = gsap
          .timeline()

          .to(".stamp", {
            width: "85%",
            yoyo: true,
            repeat: -1,
            ease: "power0",
            duration: 3,
          });

        return tl7Start;
      }
      var tl7 = gsap.timeline().add(tl7Start());

      function tl5Start() {
        var tl5Start = gsap.timeline();

        tl5.from(".liquidTwo", {
          ease: "elastic.out(1, 0.8)",
          height: 0,
          duration: 2,
          delay: 1,
        });
        tl5.from(".liquidOne", {
          opacity: 0,
        });
        tl5.from(".liquidFour", {
          opacity: 0,
        });
        tl5.from(".liquidThree", {
          top: "100%",
        });
        return tl5Start;
      }
      function tl5Move() {
        var tl5Move = gsap
          .timeline()
          .to(".liquidOne", {
            opacity: 0.5,
            yoyo: true,
            repeat: -1,
            duration: 3,
          })
          .to(
            ".liquidThree",
            {
              top: "30%",
              duration: 3,
              repeat: -1,
              yoyo: true,
              ease: "power0",
            },
            "<"
          )
          .to(
            ".liquidTwo",
            {
              height: "22%",
              ease: "power0",
              duration: 10,
              repeat: -1,
              yoyo: true,
            },
            "<"
          );
        return tl5Move;
      }
      function liquidFourFunc() {
        var liquidFour = gsap
          .timeline({ repeat: -1, yoyo: true })
          .to(".liquidFour", {
            backgroundColor: "blue",
            opacity: 0.2,
            duration: 5,
            delay: 2,
          })
          .to(".liquidFour", {
            backgroundColor: "green",
            opacity: 0.2,
            duration: 5,
          })
          .to(".liquidFour", {
            backgroundColor: "yellow",
            opacity: 0.2,
            duration: 5,
          });

        return liquidFour;
      }
      function particle1() {
        var particle1Timeline = gsap
          .timeline()
          .from(".particle1", {
            scale: 0,
            opacity: 0,
            duration: 5,
          })
          .to(
            ".particle1",
            {
              rotate: 360,
              ease: "power0",
              repeat: -1,
              duration: 10,
            },
            "<"
          )
          .to(".particle1", {
            scale: 0.5,
            duration: 10,
            repeat: -1,
            yoyo: true,
          });

        return particle1Timeline;
      }
      function particle2() {
        var particle2Timeline = gsap
          .timeline()
          .from(".particle2", {
            opacity: 0,
            duration: 5,
          })
          .to(
            ".particle2",
            {
              rotate: 360,
              ease: "power0",
              repeat: -1,
              duration: 10,
            },
            "<"
          )
          .to(".particle2", {
            scale: 0.9,
            duration: 20,
            repeat: -1,
            yoyo: true,
          });

        return particle2Timeline;
      }

      var tl5 = gsap.timeline({ paused: true });
      tl5.add(tl5Start());
      tl5.add(tl5Move());
      tl5.add(liquidFourFunc(), "<");
      tl5.add(particle1(), "<");
      tl5.add(particle2(), "<");

      swiper.on("slideChange", () => {
        vm.activeSlide = swiper.realIndex + 1;
        vm.activeSlideName = vm.menu[swiper.realIndex];
        vm.activeTitle = vm.title[swiper.realIndex];
        vm.activeDescription = vm.description[swiper.realIndex];
        vm.setActiveBullet(swiper.realIndex);

        tl1.pause(0);
        tl2.pause(0);
        tl3.pause(0);
        tl5.pause(0);
        tl6.pause(0);
        tl7.pause(0);

        target = document.querySelector(".swiper-wrapper").children[swiper.activeIndex];
        if (target.classList.contains("slide1")) {
          console.log("slide1");
          tl1.play();
        }
        if (target.classList.contains("slide2")) {
          console.log("silde2");
          tl2.play();
        }
        if (target.classList.contains("slide3")) {
          console.log("slide3");
          tl3.play();
        }
        if (!target.classList.contains("slide4")) {
          swiper.allowTouchMove = true;
          gsap.ticker.remove(hitDetection);
        }
        if (target.classList.contains("slide4")) {
          swiper.allowTouchMove = false;
          gsap.ticker.add(hitDetection);
        }
        if (target.classList.contains("slide5")) {
          console.log("slide5");
          tl5.play();
        }
        if (target.classList.contains("slide6")) {
          console.log("slide6");
          tl6.play();
        }
        if (target.classList.contains("slide7")) {
          console.log("slide7");
          tl7.play();
        }
      });

      let letter = document.querySelectorAll(".letter");
      let letterArray = Array.from(letter);

      Draggable.create(".rubber");
      function hitDetection(e) {
        if (Draggable.hitTest(".rubber", ".letter1", "100%")) {
          gsap.to(".letter1", {
            opacity: 0,
          });
          document.querySelector(".letter1").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter2", "100%")) {
          gsap.to(".letter2", {
            opacity: 0,
          });
          document.querySelector(".letter2").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter3", "100%")) {
          gsap.to(".letter3", {
            opacity: 0,
          });
          document.querySelector(".letter3").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter4", "100%")) {
          gsap.to(".letter4", {
            opacity: 0,
          });
          document.querySelector(".letter4").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter5", "100%")) {
          gsap.to(".letter5", {
            opacity: 0,
          });
          document.querySelector(".letter5").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter6", "100%")) {
          gsap.to(".letter6", {
            opacity: 0,
          });
          document.querySelector(".letter6").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter7", "100%")) {
          gsap.to(".letter7", {
            opacity: 0,
          });
          document.querySelector(".letter7").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter8", "100%")) {
          gsap.to(".letter8", {
            opacity: 0,
          });
          document.querySelector(".letter8").classList.remove("active");
        }
        if (Draggable.hitTest(".rubber", ".letter9", "100%")) {
          gsap.to(".letter9", {
            opacity: 0,
          });
          document.querySelector(".letter9").classList.remove("active");
        }

        letterActive = letterArray.every((element) => {
          return !element.classList.contains("active");
        });
        if (letterActive) {
          setTimeout(() => {
            letter.forEach((element) => {
              element.classList.add("active");
            });
            gsap.to(".letter", {
              opacity: 1,
              stagger: 0.1,
            });
          }, 3000);
        }
      }
    </script>
  </body>
</html>
